$color-black: #0e0906;
$color-gray: #b5b0b5;
$color-magenta: #e72267;
$color-blue: #2126e9;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Satoshi-Regular", Helvetica, Helvetica Neue, Arial, sans-serif;
  font-weight: 400;
  font-kerning: normal;
  font-size: 2rem;
  line-height: 1.5;
  background-color: white;
  color: $color-black;

  max-width: 192rem;
  padding: 2.4rem;
  margin: 0 auto;
}

// SPACING
.mb-xs {
  margin-bottom: 0.8rem;
}

.mb-sm {
  margin-bottom: 1.6rem;
}

.mb-md {
  margin-bottom: 2.4rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mr-lg {
  margin-right: 4rem;
}

nav {
  display: inline-block;

  &:hover a {
    opacity: 0.3;
  }

  a {
    display: inline-block;
    margin-right: 2.4rem;
    padding-bottom: 0.8rem;
    text-decoration: none;
    color: $color-black;
    font-family: "Satoshi-Medium", Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size: clamp(1.424rem, 2.1vw, 1.602rem);
    line-height: 1;
    transition: 0.2s ease;

    &.active {
      border-bottom: 1px solid $color-black;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: 1;
    }
  }
}

div {
  &.container {
    margin: 8rem 2.4rem;
  }

  &.cell {
    margin-bottom: 8rem;

    &-grid {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 2.4rem;
      margin-top: 2.4rem;

      & div.color {
        width: 100%;
        height: 0%;
        padding-bottom: 100%;
        margin-bottom: 0.8rem;
      }

      & div.black {
        background: $color-black;
      }

      & div.magenta {
        background: $color-magenta;
      }

      & div.blue {
        background: $color-blue;
      }

      & div.gray-dark {
        background: $color-gray;
      }

      & div.gray-medium {
        background: #e1dfe1;
      }

      & div.gray-light {
        background: #f6f5f6;
      }
    }

    &.w-50 {
      max-width: 42rem;
    }

    &.w-75 {
      max-width: 80rem;
    }
  }

  &.card {
    cursor: pointer;

    &-w100 {
      display: flex;
      align-items: center;

      div.card {
        &__img {
          flex: 1 1 auto;
        }

        &__content {
          flex: 1 1 50%;
          padding: 4.8rem;

          p.text-style-2 {
            transition: color 0.4s cubic-bezier(0.77, 0, 0.18, 1);
          }
        }
      }

      &:hover {
        p.text-style-2 {
          color: $color-blue;
        }
      }
    }

    p.text-style-3 {
      transition: color 0.4s cubic-bezier(0.77, 0, 0.18, 1);
    }

    &:hover {
      p.text-style-3 {
        color: $color-blue;
      }
      div.card__img {
        transform: scale(0.985);
      }
      img {
        transform: scale(1.075);
      }
    }
    &__img {
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);

      img {
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
        transition: transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
    }

    &__facts {
      display: flex;
    }
  }
}

p {
  &.label {
    font-family: "Satoshi-Bold", Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.15px;
    color: $color-gray;
  }

  &.text-style {
    &-1 {
      font-family: "Satoshi-Medium", Helvetica, Helvetica Neue, Arial,
        sans-serif;
      font-size: clamp(2.887rem, 4.8vw, 6.583rem);
      line-height: 1;
    }

    &-2 {
      font-family: "Satoshi-Medium", Helvetica, Helvetica Neue, Arial,
        sans-serif;
      font-size: clamp(2.281rem, 4vw, 4.11rem);
      line-height: 1.2;
    }

    &-3 {
      font-family: "Satoshi-Medium", Helvetica, Helvetica Neue, Arial,
        sans-serif;
      font-size: clamp(2.027rem, 3.2vw, 3.247rem);
      line-height: 1.25;
    }

    &-4 {
      font-family: "Satoshi-Medium", Helvetica, Helvetica Neue, Arial,
        sans-serif;
      font-size: clamp(2.027rem, 2.4vw, 2.566rem);
      line-height: 1.45;
    }

    &-5 {
      font-family: "Satoshi-Bold", Helvetica, Helvetica Neue, Arial, sans-serif;
      font-size: clamp(1.802rem, 2.4vw, 2.281rem);
      line-height: 1.35;
    }

    &-6 {
      font-family: "Satoshi-Medium", Helvetica, Helvetica Neue, Arial,
        sans-serif;
      font-size: clamp(1.802rem, 2.1vw, 2.027rem);
      line-height: 1.35;
    }

    &-7 {
      font-family: "Satoshi-Bold", Helvetica, Helvetica Neue, Arial, sans-serif;
      font-size: clamp(1.125rem, 2.1vw, 1.266rem);
      text-transform: uppercase;
      letter-spacing: 0.15px;
    }

    &-8 {
      font-family: "Satoshi-Medium", Helvetica, Helvetica Neue, Arial,
        sans-serif;
      font-size: clamp(1.424rem, 2.1vw, 1.602rem);
      line-height: 1.625;
    }

    &-9 {
      font-family: "Satoshi-Bold", Helvetica, Helvetica Neue, Arial, sans-serif;
      font-size: clamp(1.125rem, 1.8vw, 1.266rem);
      line-height: 1.425;
      letter-spacing: 0.15px;
    }

    &-default {
      font-family: "Gambetta-Regular", sans-serif;
      font-size: clamp(1.602rem, 2.1vw, 2.027rem);
      line-height: 1.5;
    }
  }

  &.color {
    &-magenta {
      color: $color-magenta;
    }

    &-gray {
      color: $color-gray;
    }
  }
}

button {
  &.button {
    pointer-events: auto;
    cursor: pointer;
    background: #fff;
    border: none;
    padding: 2.4rem 4rem;
    margin: 0.8rem 0;
    font-family: inherit;
    font-size: 1.424rem;
    position: relative;
    display: inline-block;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &.button-primary {
    font-family: "Satoshi-Medium", Helvetica, Helvetica Neue, Arial, sans-serif;
    border: 1px solid $color-black;
    border-radius: 4rem;
    overflow: hidden;
    color: #fff;

    &:hover::before {
      transform: translate3d(0, -100%, 0);
    }

    &::before {
      content: "";
      background: $color-black;
      transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    }

    & span {
      position: relative;
      mix-blend-mode: difference;
    }
  }

  &.button-secondary {
    font-family: "Satoshi-Medium", Helvetica, Helvetica Neue, Arial, sans-serif;
    border: 1px solid $color-black;
    border-radius: 4rem;
    overflow: hidden;
    color: #fff;

    &:hover::before {
      transform: translate3d(0, 0, 0);
    }

    &::before {
      content: "";
      background: $color-black;
      transform: translate3d(0, 100%, 0);
      transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    }

    & span {
      position: relative;
      mix-blend-mode: difference;
    }
  }

  &.button-quaternary {
    font-family: "Satoshi-Medium", Helvetica, Helvetica Neue, Arial, sans-serif;
    border: none;
    overflow: hidden;
    font-size: 1.266rem;
    line-height: 1;
    color: #2126e9;
    background: rgba(33, 38, 233, 0.1);
    padding: 0.8rem;
    transition: background 0.1s ease-in;

    &:hover {
      background: rgba(33, 38, 233, 0.175);
    }
  }
}

a {
  &.button {
    font-size: 1.266rem;
    font-family: "Satoshi-Bold", Helvetica, Helvetica Neue, Arial, sans-serif;
    text-transform: uppercase;
    line-height: 1;
    cursor: pointer;
  }

  &.button-tertiary {
    transition: opacity 0.3s cubic-bezier(0.7, 0, 0.2, 1);

    span {
      margin-right: 0.5rem;
    }

    &:hover {
      opacity: 0.8;
    }

    &:hover::after {
      transform: translate(4px, -2px);
    }

    &::after {
      display: inline-block;
      content: "\0203A";
      transform: translate(0, -2px);
      transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    }
  }

  &.link-regular {
    font-family: "Satoshi-Medium", Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size: clamp(1.424rem, 2.1vw, 1.602rem);
    color: $color-blue;
    text-decoration: none;
    transition: all 0.2s ease;

    &:hover {
      text-decoration: underline;
      color: $color-black;
    }
  }

  &.link-dark {
    font-family: "Satoshi-Medium", Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size: clamp(1.424rem, 2.1vw, 1.602rem);
    background: $color-black;
    color: #fff;
    transition: all 0.2s ease;

    &:hover {
      text-decoration: none;
      color: $color-gray;
    }
  }
}
